[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shin1-training-imazeki
[access "refs/for/refs/*"]
	read = group user/shin1-training-imazeki
	push = group user/shin1-training-imazeki
	label-Code-Review = -2..+2 group user/shin1-training-imazeki
	label-Verified = -1..+1 group user/shin1-training-imazeki
	rebase = group user/shin1-training-imazeki
	removeReviewer = group user/shin1-training-imazeki
	submit = group user/shin1-training-imazeki
[access "refs/heads/*"]
	read = group user/shin1-training-imazeki
	create = group user/shin1-training-imazeki
	push = +force group user/shin1-training-imazeki
	pushMerge = group user/shin1-training-imazeki
[access "refs/tags/*"]
	push = +force group user/shin1-training-imazeki
	pushTag = group user/shin1-training-imazeki
	pushSignedTag = group user/shin1-training-imazeki
